.navbar.fixed, .navbar.fixed-no-change {
    background-color: var(--red);
    color: var(--white);
    transition: all ease 0.3s;
}

.navbar .nav-link {
    color: var(--white);
    font-size: 16px;
}

.brand-name {
    color: var(--red);
    font-weight: 700;
}

header .logo {
    width: 40px;
    /*height: 40px;*/
}

.navbar-brand {
    color: var(--red);
    font-size: 20px;
    font-weight: 700;
}

.navbar.fixed-no-change .nav-link,
.navbar.fixed-no-change .navbar-brand,
.navbar.fixed .nav-link,
.navbar.fixed .navbar-brand {
    color: var(--white);
}

.welcome {
    position: relative;
    height: min(100vh, 800px);
}

.welcome-text {
    width: 100%;
    background-image: linear-gradient(to right, var(--black) 52%, transparent);
    color: var(--white);
    position: relative;
    z-index: 1;
    height: 100%;
}

.welcome-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: min(700px, 100%);
    justify-content: space-between;
}

.welcome-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.welcome h2 {
    margin: 32px 0;
    text-transform: uppercase;
}

.welcome .row {
    height: 100vh;
}

.welcome p {
    padding-top: 20px;
}

.welcome .contact-btn {
    max-width: 200px;
    padding: 12px 26px;
    border-radius: 999px;
    background-color: var(--red);
    color: var(--white);
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*why chose us*/
.why-us {
    margin-top: 80px;
}

.why-us .reason {
    padding: 24px 50px;
    font-size: 16px;
}

.why-us .reason span {
    font-size: 50px;
    font-weight: 700;
    color: var(--red);
}

.why-us .reason strong {
    font-size: 20px;
}

/*car-list*/

.car-list .row {
}

.car-list .car {
    padding: 16px;
    height: 100%;
    align-self: stretch;
}


.car-list .car-wrapper {
    border-radius: 6px;
    background-color: #fdfdfd;
    overflow: hidden;
    box-shadow: 0 0 10px 4px #ddd;
    transition: all 0.3s ease;
}

.car-wrapper:hover {
    box-shadow: 0 0 10px 6px #ccc;
    transform: translateY(-4px);
}

.car-image {
    height: 200px;
}

.car-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.car-info {
    padding: 16px 20px;
}

.car .car-name {
    font-size: 22px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.car-info .label {
    font-weight: 600;
    margin-right: 8px;
}

.car-info .car-price {
    font-size: 18px;
    font-weight: 600;
}

.car .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car .book-btn {
    padding: 8px 32px;
    border-radius: 6px;
}

/*procedure*/
.step {
    position: relative;
    padding: 16px;
}

.step + .step:before {
    position: absolute;
    content: '';
    opacity: 0.3;
    width: 60px;
    height: 300px;
    left: -20px;
    background-image: url('../images/Picture1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.day-advise {
}

.day-advise ul {
    margin: 0;
    padding: 0 30px;
}

/*quick-contact*/
.quick-contact {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translateY(150%);
    transition: all ease 1s;
}

.quick-contact.show {
    transform: translateY(0%);
}

.quick-contact img {
    width: 40px;
    height: 40px;
}

/*foooter*/
footer {
    margin-top: 80px;
    background-color: var(--black);
    color: var(--white);
    font-size: 14px !important;
}

/* car-list */
.search-filter {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.search-filter .search form {
    border: 1px solid var(--red);
    border-radius: 8px;
    width: 500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
}


.search-filter input {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: var(--white);
    color: #333;
    flex: 1;
}

.search-filter .search-btn {
    background-color: var(--black);
    color: var(--white);
    border-radius: 6px;
}

.filter {
    display: flex;
    gap: 40px;
    align-items: center;
}

.filter label {
    font-weight: 600;
}

.filter > div {
    display: flex;
    align-items: center;
}

.filter-brand, .filter-type {
    display: flex;
    gap: 12px;
}

.cate-name {
    margin-top: 40px;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
}

.dropdown-select {
    border: 1px solid var(--red);
    padding: 8px 16px;
    border-radius: 6px;
    max-width: 240px;
    display: flex;
    justify-content: space-between;
}

.dropdown-select span {
    pointer-events: none;
}

.dropdown-list {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    z-index: 2;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 6px;
    width: 200px;
    overflow: hidden;
}

.dropdown-item {
    padding: 8px 20px;
    transition: all ease 0.3s;
}

.dropdown-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.dropdown-item:hover {
    background-color: #ccc;
}

#modal.show {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#modal {
    display: none;
}

.modal-container {
    background-color: var(--white);
    width: 80%;
    border-radius: 6px;
    padding: 40px;
    align-items: stretch;
}

.car-detail .car-info {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.car-container .actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
    margin-top: 20px;
    flex: 1;
}

.car-container .contact {
    margin-top: 32px;
}

.car-detail {
    align-items: stretch;
}

.car-detail .car-image {
    height: auto;
}

.car-container .close {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.car-container .car-name {
    font-size: 32px;
}

.car-detail .car-image .main {
    height: 360px;
    object-fit: cover;
}

.sub-image-list {
    display: flex;
    gap: 12px;
    width: 100%;
    overflow-x: auto;
    margin-top: 12px;
}

.car-detail .sub-image-list img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.sub-image-list img.active {
    border: 2px solid var(--red);
}

.car-container {
    margin-top: 100px;
    padding: 0 80px;
}

.car {

}


.contact a,
#contact a {
    font-weight: 600;
    color: var(--red);
}