
@media screen and (max-width: 980px) {
    .map {
        margin-top: 24px;
    }

    .welcome-text {
        padding: 250px 48px 0;
        background-color: rgba(0, 0, 0, 0.6);
        background-image: none;
    }

    .search-filter {
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding: 0;
    }

    .search-filter .search form {
        width: 100%;
    }

    .filter {
        gap: 12px;
        justify-content: space-between;
    }

    .car-detail .contact {
        display: none;
    }

    .car-image {
        height: 240px;
    }

    .car-detail .car-image .main {
        height: 300px;
    }

    .car-container {
        padding: 10px;
    }

    .car-detail .car-info {
        padding: 8px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .welcome {
        height: 100vh;
    }
    .welcome-text {
        padding: 250px 12px 0;
    }

    .why-us .reason {
        padding: 16px 30px;
    }

    .step + .step:before {
        top: -150px;
        left: 50%;
        transform: translate(-50%, 0%) rotate(90deg);
    }

    .filter {
        flex-direction: column;
    }

    .filter > div {
        padding: 0 20px;
        width: 100%;
        justify-content: space-between;
    }

    .car-detail .sub-image-list img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .car-container {
        padding: 10px;
    }

    .scroll-down {
        bottom: 100px;
    }
}


@media screen and (max-height: 700px) {
    .welcome-text {
        padding-top: 100px;
    }
}