@media screen and (max-width: 980px) {
    .map {
        margin-top: 24px;
    }

    .welcome {
        padding-top: 100px;
        flex-direction: column-reverse;
        gap: 24px;
        height: unset;
    }

    .welcome-text {
        width: 100%;
        padding: 24px 48px;
        text-align: center;
    }


    .welcome-image {
        width: 100%;
    }

    .welcome-text .contact-btn {
        font-size: 16px;
        margin: 0 auto;
        width: 200px;
    }

    .scroll-down {
        display: none;
    }

    .search-filter {
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding: 0;
    }

    .search-filter .search form {
        width: 100%;
    }

    .filter {
        gap: 12px;
        justify-content: space-between;
    }

    .car-detail .contact {
        display: none;
    }

    .car-image {
        height: 240px;
    }

    .car-detail .car-image .main {
        height: 300px;
    }

    .car-container {
        padding: 10px;
    }

    .car-detail .car-info {
        padding: 8px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .welcome {
        padding-top: 100px;
        /*height: 100vh;*/
        /*height: calc(100vh - 60px);*/
        flex-direction: column-reverse;
        gap: 24px;
    }


    .welcome-text {
        flex: 1;
        width: 100%;
        padding: 24px 12px;

    }

    .welcome-wrapper {
        justify-content: flex-start;
        gap: 20px;
    }

    .welcome-text h2 {
        font-size: 18px;
    }

    .welcome-image {
        width: 100%;
    }

    .welcome-text p {
        font-size: 12px;
    }

    .why-us .reason {
        padding: 16px 30px;
    }

    .step + .step:before {
        top: -150px;
        left: 50%;
        transform: translate(-50%, 0%) rotate(90deg);
    }

    .filter {
        flex-direction: column;
    }

    .filter > div {
        padding: 0 20px;
        width: 100%;
        justify-content: space-between;
    }

    .car-detail .sub-image-list img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .car-container {
        padding: 10px;
    }

    .scroll-down {
        bottom: 100px;
    }
}


@media screen and (max-width: 300px) {
    .car-list .car {
        padding: 8px 0;
    }
}